/* Navigation */

.vertical-buttons {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* stack vertically */
    gap: 10px; /* space between buttons */
}

.vertical-buttons li a {
    display: block;           /* makes the entire link clickable */
    padding: 0px 0px;
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    border-radius: 6px;
    text-align: left;
    font-size: 12pt;
}

.vertical-buttons li a:hover {
    text-decoration: underline;
}

/* SELECTIELIJST*
/* enhance active selection font size */
.vertical-buttons li a.active {
    font-size: 16pt; /* enlarge */
    color: #ed2020; /* different color */
}

/* upper spacing selectielijst" */
.vertical-buttons li:first-child {
    margin-top: 30px; /* of hoeveel ruimte je wilt */
}

